In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pickle
from pycaret.regression import *
from pycaret.utils import version

In [2]:
df = pd.read_csv('df_with_target.csv')

df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges',
       'sex_encoded', 'smoker_encoded', 'region_encoded'],
      dtype='object')

In [3]:
df.shape

(1327, 10)

# Seperate Columns

In [4]:
ignore_features = ['sex', 'region', 'smoker']

categorical_features = ['smoker_encoded', 'region_encoded',
                        'sex_encoded', 'children', ]

numeric_features = ['age', 'bmi']

# Scale the Numerical Columns

In [5]:
# Create a StandardScaler object
scaler = StandardScaler()

# Fit and Transform numeric features on the scaler
df[numeric_features] = scaler.fit_transform(df[numeric_features])

# save the scaler
with open('df_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [6]:
# Creation Regression Experiment
exp = RegressionExperiment()

# Training with 80/20 split, ignoring non-encoded categorical features, setting categorical and numerical features, set the target variable, allowing shuffling with 5 folds
exp.setup(df, 
          ignore_features=ignore_features,
          categorical_features=categorical_features,
          numeric_features=numeric_features,
          target='charges',
          train_size=0.8,
          fold_shuffle=True,
          fold=5,
         )

In [7]:
# Compare models
exp.compare_models()

GradientBoostingRegressor(random_state=2136)

In [8]:
# Choose model with low RMSE and high R^2 score
gbr_model = exp.create_model('gbr')

In [9]:
# Tune model to lower RMSE
gbr_model_tune = exp.tune_model(gbr_model, optimize='rmse')

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
# Model doesn't seem to be able to be improved or tuned further

In [11]:
# Evaluate the model - look at Prediction Error, Feature Selection, and Feature Importance
exp.evaluate_model(gbr_model_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [12]:
# Make predictions on holdout data, model seems to generalize fairly well
exp.predict_model(gbr_model_tune)

,age,bmi,children,sex_encoded,smoker_encoded,region_encoded,charges,prediction_label
143,-0.727521,1.379242,3,0,0,2,5138.256836,6695.053462
930,0.341052,-0.139566,2,1,0,0,32108.662109,10088.837992
570,1.623339,1.050265,1,0,0,0,31620.001953,16552.874297
408,-1.439902,-2.186075,0,1,0,1,1621.340210,1279.283626
540,1.694578,0.956748,0,0,0,2,13887.204102,14342.758138
...,...,...,...,...,...,...,...,...
1091,0.910958,0.050807,0,0,0,0,23045.566406,11913.295285
539,-1.368664,0.203606,2,0,0,2,3056.388184,5462.518918
51,0.626005,-0.429301,1,1,1,3,23568.271484,24343.105941
1032,-1.226188,-0.282346,0,1,0,0,2250.835205,3315.682910
1283,-1.297426,-1.229201,0,1,0,2,1515.344849,4036.790554

In [13]:
# Finalize model by training on entire dataset (including holdout set)
final_model = exp.finalize_model(gbr_model_tune)

In [14]:
# Save model
exp.save_model(final_model, 'medical_insurance_prediction_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['age', 'bmi'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['smoker_encoded', 'region_encoded',
                                              'sex_encoded', 'children'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('ordinal_encoding',
                  TransformerWrapper(include=[...
 dtype: int64},
                                                                         {'col': 'sex_encoded',
                                                                          'data_type': dtype('float64'),
                                                                          'mapping': 0.0    0
 1.0    1
 NaN   -1
 dtype: int64}]))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['region_encoded', 'children'],
                                     transformer=OneHotEncoder(cols=['region_encoded',
                                                                     'children'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('actual_estimator',
                  GradientBoostingRegressor(random_state=2136))]),
 'medical_insurance_prediction_model.pkl')

# Conclusion
It appears that the only relevant features are smoker_encoded, BMI, and age. The line of best fit also appears to be about as good as possible.
There seem to be some entries that deter from the general pattern of the dataset.
I'm rather happy with this result as the R squared metric is rather high at around 0.85 while the line of best fit covers the pattern of the model very well.